<div class="flex flex-col px-3">
    <header class="header h-[70px] w-full p-3 border-b ">
        <div class="inline-header flex h-full items-center">
            <div class="menu">
                <!-- <span nz-icon nzType="arrow-left" nzTheme="outline" class="text-[20px]" [routerLink]="'/order'"></span> -->
            </div>
            <div class="logo">
                <img src="assets/images/logo.png" alt="">
            </div>
        </div>
    </header>
    <div class="main-body">
        <div class="w-full relative">
            <div class="p-2">
                <span for="name">Nhập tên đăng nhập:</span>
                <span>
                    <input id="name" name="name" type="text">
                </span>
            </div>
            <div class="p-2">
                <span for="old_password">Nhập email:</span>
                <span>
                    <input id="old_password" name="old_password" type="password">
                </span>
            </div>
            <div class="p-2 mt-10">

            </div>
        </div>
        <footer class="footer px-3">
            <button class=" w-full p-2 border rounded-[5px] text-[#fff] text-[20px] text-center bg-[#314ddb]">Đổi mật khẩu</button>
            <span class="text-center flex text-[18px] flex gap-[8px] items-center">
                <a [routerLink]="['/login']">Quay lại</a>
            </span>
        </footer>
</div>