
.header{
  // position: fixed;
  left: 0;
  height: 80px;
  width: 100%;
  // background: rgba(187, 206, 245, 0.7);
  .inline-header{
      display: flex;
      justify-content: space-around;
      gap: 10px;
      padding: 20px 15px;
      align-items: center;
  }
}

.openingSentence{
  color: #44546a;
}

  #er1{
    color: red;
  }

  .container {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form{
    margin: 0;
    position: relative;
    padding: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-item {
    padding: 15px 10px 10px 10px;
    flex:1;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
  }
  
  .form-item input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(152, 152, 233);
    display: inline-block;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;    
    font: inherit;
  }

  .form-item input:focus {
    border-color: blue;
    outline: 1px 
}
  
  .form-item button {
    display: flex;
    display: block;
    width: 260px;
    font-size: 18px;
    padding: 8px;
    border-radius: 30px;
    background-color: #ed7d31;
    border: none;
    outline:none;
    transition: all 200ms;
    font-weight: 400;
  }

  .form-item a {
    text-decoration: none;
  }
  
  .is-link {
    color: #fff;
    flex:1;
    font-size: 14px;
  }
  
  .is-link:hover {
    text-decoration: underline;
  }

  .form-item{
    span{
        position: absolute;
    }
    label{
        color:  red;
    }
  }
  
  